body{
    padding-top: 800px;
        
        
}
#profile {
    width: 175px;
    border-radius: 50%
}

#welcome {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 800px;
    width: 100%;
    display: table;
    background: linear-gradient(#ffff00, #00fffb, #ff00aa,#ff0008);
    overflow: hidden
}

#something {
    display: table-cell;
    vertical-align: middle
}
.link{
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-transform: uppercase;
        
        
}
.link a{
    text-decoration: none;
}
.link:hover{
    background-color: aliceblue;
    
}
.article:hover{
  color: fuchsia
}
.menu{
    position: fixed;
    
   top: 0;
   margin-top: 0;
    background-color: aliceblue;
    width: 100%;
    
    
    z-index: 10;
}
h2{
    font-family: 'Dancing Script', cursive;
}
.contact{
    background-color: darkgreen;
    color: white
        
}